td,
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  max-width: 100%;
}

.p-frozen-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centro {
  text-align: center;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
