<p-card>
  <ng-template pTemplate="title">
    <h2>Informações do Projeto</h2>
  </ng-template>

  <div class="grid">
    <div class="col-12 md:col-4">
      <h4>Projeto:</h4>
      <p-dropdown
        [style]="{ width: '100%' }"
        [options]="listaProjetos || []"
        optionLabel="ANome"
        placeholder="Selecione um projeto"
        [disabled]="desabilitar"
        [emptyMessage]="'Nenhum item disponível'"
        (onChange)="selecionarProjeto($event)"
        [(ngModel)]="projetoSelecionado"
      ></p-dropdown>
    </div>
  </div>
  <br />

  <div class="grid gap-3">
    <div class="col-12 md:col-5 flex align-items-center gap-2">
      <span class="font-bold text-base text-nowrap">Vigência do Projeto:</span>
      <span class="text-base">
        {{
          projetoSelecionado
            ? projetoSelecionado.DDataInicio || "Indeterminado"
            : ""
        }}
      </span>
    </div>

    <div class="col-12 md:col-3 flex align-items-center gap-2">
      <span class="font-bold text-base text-nowrap">Até:</span>
      <span class="text-base">
        {{
          projetoSelecionado
            ? projetoSelecionado.DDataFim || "Indeterminado"
            : ""
        }}
      </span>
    </div>
  </div>
  <br />

  <div class="grid gap-3">
    <div class="col-12 md:col-6 flex align-items-center gap-2">
      <span class="font-bold text-base text-nowrap">Status do Projeto:</span>
      <span class="text-base">
        {{
          projetoSelecionado
            ? projetoSelecionado.AStatus || "Indeterminado"
            : ""
        }}
      </span>
    </div>
  </div>

  <br />
  <br />

  <div class="card">
    <p-messages
      [(value)]="messages"
      [closable]="false"
      *ngIf="apresentarErro"
    />
  </div>

  <div class="grid align-items-end gap-3">
    <div class="col-12 md:col-6">
      <h4>Colaborador:</h4>
      <app-busca-colaboradores
        (colaboradorSelecionadoEmit)="selecionarColaborador($event)"
      ></app-busca-colaboradores>
    </div>

    <div class="col-6 md:col-3 p-fluid">
      <h4>Horas totais para o projeto:</h4>
      <p-inputNumber
        inputId="integeronly"
        [disabled]="desabilitar"
        [(ngModel)]="horasProjeto"
        [min]="1"
      ></p-inputNumber>
    </div>

    <div class="col-4 md:col-2">
      <button
        pButton
        pRipple
        label="Adicionar"
        class="w-full md:w-auto"
        (click)="adicionarColaboradorAoProjeto()"
        [disabled]="validarHabilitarBotaoAdicionar()"
      ></button>
    </div>
  </div>
</p-card>
