@media (max-width: 576px) {
  .form-responsive {
    flex-direction: column;
    align-items: stretch;
  }
}

.centro {
  text-align: center;
}

.nome-duplicado {
  color: red;
  font-weight: bold;
}
